*{
  width: 100%;
}
.App {
  text-align: center;
}

.mx-2{
  font-family: 'DINAlternateBold';
  font-size: 1.2rem;
}
.card{
  font-family: 'DINAlternateBold';
}

.world-map{
  background-color: rgb(54, 54, 54);
  height: 100px;
  color: rgb(255, 255, 255);
  text-align: center;
  width: 100%;
  padding-top: 20px;
}
